body {
  background-color: #f2f2f2;
  font-family: "Segoe UI", Arial, sans-serif;
  text-align: center;
}
.grid-container {
  display: grid;
  gap: 15px 30px; /* uniform gap */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  padding: 20px;
  background-color: #9aa581;
  border: 1px solid #ccc;
  border-radius: 30px;
}

.grid-item {
  background-color: white;
  padding: 20px;
  border: 3px solid #38422b;
  text-align: center;
  font-weight: bold;
  border-radius: 50px;
}

.grid-item:first-child {
  grid-column: 1 / 4;
  background-color: #9fb873;
  color: #38422b;
}

.grid-item:nth-child(2) {
  grid-column: 1 / 2;
  background-color: #6e7753;
  color: #ffffff;
}

.grid-item:nth-child(3) {
  grid-column: 2 / 6;
  background-color: #ccd5c0;
  color: #38422b;
}

.grid-item:nth-child(4) {
  grid-column: 1 / 6;
  background-color: #38422b;
  color: #ffffff;
}