body {
  background-color: forestgreen; /*Bug 1 - put the dash between backgorund and color*/
  margin: 0;
  font-family: Gil Sans;
}

header {
  background-color: Gold; /*Bug 2- the word Gold is was typed wrong*/
  color: #004d00;
  text-align: center;
  font-size: 2em;
  padding: 20px; /*Bug 3- the word padding was typed wrong, is was "paddding" but the correct is "padding"*/
  margin: 0;
}

.nav {
  background-color: #2e1a1a;
  width: 100%;
  margin: 0;
  padding: 0 5px;
  position: sticky;
  top: 0;
}

nav li {
  display: inline;
  border-right: 1px solid grey;
}

nav li:last-child {
  border-right: none;
}

nav ul {
  list-style-type: none;
  display: inline-flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: gold;
  font-weight: bold;
  padding: 14px 16px;
}

nav a:hover { /*Bug 4- It was double ":"*/
  background-color: gold;
  color: #2e1a1a;
}

main {
  background-color: lightgreen;
  margin: 50px 100px; /*Bug 5- have to add unit after 100 */
  padding: 50px;
}

#garden { /*Bug 6- Have to add id "#" */
  border: 5px solid brown;
  border-radius: 30px;
  box-shadow: 5px 5px 15px grey;
  height: 30%; /*Bug - */
  width: 30%;
}

section {
  margin-top: 30px; /*Bug 7 - is was typed wrong. It has to have - between the word*/
}

h2 {
  color: brown;
}

footer {
  background-color: #2e1a1a;
  opacity: 0.9;
  padding: 30px 50px;
  color: gold;
  text-align: center;
}